.home {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
  justify-content: space-between;

  // Header content
  &-header {
    margin-bottom: @base-margin * 3;
  }

  // Offer content
  &-offer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: @base-margin * 2;

    &-column {
      display: flex;
      flex-direction: column;
      flex-basis: 31%;
      margin-bottom: 40px;

      @media (max-width: @screen-md) {
        display: block;
        flex-basis: 47%;
      }

      @media (max-width: @screen-sm) {
        display: block;
        flex-basis: 100%;
      }

      &:last-child {
        @media (max-width: @screen-md) {
          flex-basis: 100%;
        }
      }

      &-header {
        margin-bottom: @base-margin;
      }
    }
  }

  // About content
  &-about {
    display: flex;
    flex-direction: row;

    &-column {
      display: flex;
      flex-direction: column;
      flex-basis: 100%;

      &-header {
        margin-top: @base-margin * 3;
        margin-bottom: @base-margin;
      }
    }
  }
}
